# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.module-cache

# Coverage tools
lib-cov
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

example/bundle.js

# This project doesn't use Yarn
yarn.lock
